<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload XML</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <h3>Select xml file to upload</h3>
    <p>
        <input type="file" name="fileToUpload" id="fileToUpload"><br/>
    </p>
    <p>
        Input chank size
        <input th:value="${chankSize}" type="number" name="chankSize" id="chankSize"><br/>
    </p>
    <p>
        <input type="submit" value="Upload" name="submit">
    </p>
    <p>
    <h4><a href="users">Get Users from DB</a></h4>
    </p>
</form>
</body>
</html>